/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: pink;
}

.container {
    display: grid;
    grid-template-rows: 130px auto 50px;
    min-height: 100vh;
}

header {
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
    background-color: grey;
}

.content {
    border: 2px solid yellow;
}

footer {
    border: 2px solid green;
}

.contactMe {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.contactMe input {
    height: 50px;
    font-size: 20px;
    width: 330px;
    margin: 5px;
    border: 1px solid #000;
    text-align: center;
    border-radius: 5px;
    transition: border-color 0.5s ease-out;
    text-align: center;
} */
.portfolio img {
    height: 300px;
    width: 300px;
    object-fit: cover;
}

.carousel img {
    height: 90vh;
    object-fit: cover;
}

.imageformdisplay img {
    height: 400px;
}

.checkoutImg1 img {
    height: 50px;
}

.checkoutImg2 img {
    height: 200px;
}