body {
    background: #cccccc;
}

#welcome {
    font-family: "Dancing Script", cursive;
    font-size: 45px;
    text-align: center;
    color: #ff6699;
    margin-bottom: -5px;
    margin-top: 2px;
}

#welcome1 {
    height: 300px;
    width: 300px;
    display: block;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
}

.reg {
    background-color: pink;
}

.login {
    background-color: pink;
}

#registration {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

#contactMe {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-bottom: 5px;
    z-index: 1;
}

.contactbtn {
    margin-top: 5px;
    z-index: 1;
}

#contactMe input {
    height: 50px;
    font-size: 20px;
    width: 330px;
    margin: 5px;
    border: 1px solid #000;
    text-align: center;
    border-radius: 5px;
    transition: border-color 0.5s ease-out;
    z-index: 1;
}

#contactMe p {
    font-size: 20px;
    font-weight: bold;
    z-index: 1;
    height: 38px;
    width: 370px;
    background-color: white;
    text-align: center;
    border-radius: 5px;
    border: 1px solid black;
}

#registration input {
    height: 50px;
    font-size: 20px;
    width: 330px;
    margin: 5px;
    border: 1px solid #000;
    text-align: center;
    border-radius: 5px;
    transition: border-color 0.5s ease-out;
}

#registration input:focus {
    background-color: #ffe6ff;
}

#textarea {
    border-radius: 5px;
    text-align: center;
    border: 1px solid black;
    z-index: 1;
}

.login {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.login input {
    margin: 0 auto;
    display: block;
    text-align: center;
    height: 30px;
    width: 250px;
    margin-bottom: 5px;
    border: 1px solid black;
    font-size: 18px;
}

.login input:focus {
    background-color: #ffe6ff;
}

.portfolio1 {
    background-color: #f2f2f2;
    text-align: center;
    margin-top: 5px;
}

.portfolio img {
    height: 300px;
    width: 300px;
    object-fit: cover;
    border: 6px double #4d4d4d;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 255, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.25);
}

.carousel img {
    margin-top: 10px;
    height: 90vh;
    object-fit: cover;
}

.imageformdisplay img {
    height: 400px;
}

.checkoutImg1 img {
    height: 50px;
}

.checkoutImg2 img {
    height: 200px;
}

.checkoutDisplay {
    display: inline-flex;
}

.feedback {
    margin-top: 20px;
}

.feedback1 {
    margin-bottom: 10px;
}

.aboutMe {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 150px;
}

.me img {
    height: 400px;
    width: 300px;
    margin-right: 20px;
    border-radius: 8px;
    border: 3px solid Gray;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 30px 0 rgba(0, 0, 0, 0.25);
}

.desc {
    background-color: pink;
    text-align: center;
    height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 8px;
    border: 3px solid Gray;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 30px 0 rgba(0, 0, 0, 0.25);
}

.desc p {
    font-family: "Dancing Script", cursive;
    font-size: 21px;
}

.price {
    display: flex;
    text-align: center;
}

.contactimg {
    height: 200px;
    opacity: 0.5;
    filter: alpha(opacity=50);
    /* For IE8 and earlier */
}

.pricetable {
    border: 2px solid Gray;
    margin-top: 10px;
}

#btnlogin {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btnSubmit {
    margin: 0;
    height: 35px;
    border-radius: 53px;
    width: 100px;
    border: 2px solid green;
    background-color: #ff6699;
    font-size: 18px;
}